
    <h1>MESAFELİ SATIŞ SÖZLEŞMESİ</h1>

    <h2>1 - TARAFLAR</h2>

    <h3>SATICI</h3>
    <ul>
        <li>Satıcı İsim/Unvanı : {{context.seller.name}} </li>
        <li>Satıcı’nın Açık Adresi : {{context.seller.address}} </li>
        <li>Satıcı’nın Telefonu : {{context.seller.phone}} </li>
        <li>Satıcı Mersis No : {{context.seller.tax_number}} </li>
        <li>Satıcı E-Posta Adresi : {{context.seller.email}} </li>
        <li>Alıcı’nın İade Halinde Malı Satıcı’ya Göndereceği Kargo Şirketi:</li>
    </ul>
    <p>medikaport.com Çağrı Merkezi: +90 272 201 01 05</p>

    <h3>ALICI</h3>
    <ul>
        <li>Adı – Soyadı : {{context.buyer.name}} </li>
        <li>Adresi : {{context.buyer.address}} </li>
        <li>Telefon : {{context.buyer.phone}} </li>
        <li>E-Posta : {{context.buyer.email}} </li>
    </ul>

    <h3>SÖZLEŞME’NİN KONUSU VE KAPSAMI</h3>
    <p>İşbu Mesafeli Satış Sözleşmesi (“<b>Sözleşme</b>”) 6502 Sayılı Tüketicinin Korunması Hakkında Kanun (“<b>Kanun</b>”) ve Mesafeli Sözleşmeler Yönetmeliği’ne uygun olarak düzenlenmiştir. İşbu Sözleşme’nin tarafları işbu Sözleşme tahtında Kanun’dan ve Mesafeli Sözleşmeler Yönetmeliği’nden kaynaklanan yükümlülük ve sorumluluklarını bildiklerini
        ve anladıklarını kabul ve beyan ederler.</p>
    <p>İşbu Sözleşme’nin konusunu; Alıcı’nın, BCT Yazılım Danışmanlığa (“<b>BCT Yazılım Danışmanlık</b>”) ait www.medikaport.com alan adlı web sitesinden (“<b>Websitesi</b>”), Satıcı’ya ait mal veya hizmetin satın alınmasına yönelik elektronik olarak sipariş verdiği, Sözleşme’de belirtilen niteliklere sahip mal veya hizmetin
        satışı ve teslimi ile ilgili olarak Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin belirlenmesi oluşturur.</p>
    <p>İşbu Sözleşme’nin akdedilmesi tarafların ayrı ayrı BCT Yazılım Danışmanlık ile akdetmiş oldukları Websitesi Üyelik Sözleşmeleri’nin hükümlerinin ifasını engellemeyecek olup taraflar işbu Sözleşme konusu mal veya hizmetin satışında BCT Yazılım Danışmanlık’ın herhangi bir şekilde taraf olmadığını ve Sözleşme kapsamında tarafların yükümlülüklerini yerine getirmeleri ile ilgili herhangi
        bir sorumluluğu ve taahhüdü bulunmadığını kabul ve beyan ederler. </p>

    <h3>SÖZLEŞME KONUSU MAL VE HİZMETİN TEMEL NİTELİKLERİ VE FİYATI (KDV DAHİL)</h3>

    <table width="100%" style="margin-bottom: 20px">
        <thead>
        <tr>
            <td class="borderLeftBold">Ürün Kodu Ve Adı</td>
            <td>Adet</td>
            <td>Satici Unvani</td>
            <td>Birim Fiyatı</td>
            <td>Toplam Satış Tutarı</td>
            <td class="borderRightBold">KDV Dahil Toplam Tutar</td>
        </tr>
        </thead>
        <tbody>
            {% for item in context.listings %}
        <tr>
            
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{context.seller.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.total}}</td>
            <td>{{item.total}}</td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerlidir.</p>

    <ul>
        <li>Kargo hariç toplam ürün bedeli: {{context.total}}</li>
        <li>Kargo Ücreti:</li>
        <li>Kargo Dahil Toplam Bedeli: {{context.total}}</li>
        <li>Ödeme Şekli ve Planı:</li>
        <li>Alınan Vade Farkı:</li>
        <li>Vade Farkı hesabında kullanılan faiz oranı:</li>
    </ul>

    <p>SÖZ KONUSU ÜRÜN BEDELİ, ÖDEME KORUMA SİSTEMİ KAPSAMINDA SATICI ADINA, BCT YAZILIM DINAIŞMANLIK TARAFINDAN ALICI’DAN TAHSİL EDİLMEKTEDİR. ALICI MALIN/HİZMETİN BEDELİNİ BCT YAZILIM DANIŞMANLIK'A ÖDEMEKLE, ÜRÜN BEDELİNİ SATICI’YA ÖDEMİŞ SAYILACAKTIR.</p>

    <h3>MALIN TESLİMİ VE TESLİM ŞEKLİ</h3>
    <p>Sözleşme Alıcı tarafından elektronik ortamda onaylanmakla yürürlüğe girmiş olup, Alıcı’nın Satıcı’dan satın almış olduğu mal veya hizmetin Alıcı’ya teslim edilmesiyle ifa edilmiş olur. Mal, Alıcı’nın sipariş formunda ve işbu Sözleşme’de belirtmiş olduğu adrese ve belirtilen yetkili kişi/kişilere teslim edilecektir.</p>

    <h3>TESLİMAT MASRAFLARI VE İFASI</h3>
    <p>Malın teslimat masrafları aksine bir hüküm yoksa Alıcı’ya aittir. Satıcı, Websitesi’nde teslimat ücretinin kendisince karşılanacağını beyan etmişse teslimat masrafları Satıcı’ya ait olacaktır.</p>
    <p>Malın teslimatı; ödemenin gerçekleşmesinden sonra taahhüt edilen sürede yapılır. Satıcı, sipariş konusu mal veya hizmetin ediminin yerine getirilmesinin imkansızlaştığı haller saklı kalmak kaydıyla, mal veya hizmeti, Alıcı tarafından mal veya hizmetin sipariş edilmesinden itibaren 30 (otuz) gün içinde teslim eder.</p>
    <p>Herhangi bir nedenle Alıcı tarafından mal veya hizmetin bedeli ödenmez veya yapılan ödeme banka kayıtlarında iptal edilir ise, Satıcı mal veya hizmetin teslimi yükümlülüğünden kurtulmuş kabul edilir.</p>
    <p>Malın Satıcı tarafından kargoya verilmesinden sonra ve fakat Alıcı tarafından teslim alınmasından önce Alıcı tarafından yapılan sipariş iptallerinde kargo bedelinden Alıcı sorumludur.</p>
    <p>Sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkansızlaştığı hallerde Satıcı bu durumu öğrendiği tarihten itibaren 3 (üç) gün içinde Alıcı’yı bilgilendirecek ve varsa teslimat masrafları da dâhil olmak üzere tahsil edilen tüm ödemeleri bildirim tarihinden itibaren en geç 14 (on dört) gün içinde iade edecektir.</p>

    <h3>ALICI’NIN BEYAN VE TAAHHÜTLERİ</h3>

    <p>Alıcı, Websitesi’nde yer alan Sözleşme konusu mal veya hizmetin temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimat ve kargo bedeline ilişkin olarak Satıcı tarafından yüklenen ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
    <p>Alıcılar, tüketici sıfatıyla talep ve şikayetlerini yukarıda yer alan Satıcı iletişim bilgilerini kullanarak ve/veya Websitesi’nde yer alan Hesabım&gt;Ürün Sorularım üzerinden ulaştırabilirler.</p>
    <p>Alıcı, işbu Sözleşme’yi ve Ön Bilgilendirme Formu’nu elektronik ortamda teyit etmekle, mesafeli sözleşmelerin akdinden önce Satıcı tarafından Alıcı’ya verilmesi gereken adres, siparişi verilen mal veya hizmete ait temel özellikler, mal veya hizmetin vergiler dahil fiyatı, ödeme ve teslimat ile teslimat fiyatı bilgilerini de doğru ve eksiksiz olarak edindiğini teyit etmiş
        olur. Alıcı’nın, teslim edildiği esnada tahrip olmuş, kırık, ambalajı yırtılmış vb. hasarlı ve ayıplı olduğu açıkça belli olan Sözleşme konusu mal veya hizmeti kargo şirketinden teslim alması halinde sorumluluk tamamen kendisine aittir.</p>
    <p>Mal veya hizmetin tesliminden sonra Alıcı’ya ait kredi kartının Alıcı’nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşunun mal veya hizmetin bedelini Satıcı’ya ödememesi halinde, Alıcı kendisine teslim edilmiş olması kaydıyla mal veya hizmeti 3 (üç) gün içinde Satıcı’ya iade
        etmekle yükümlüdür. Bu halde teslimat giderleri Alıcı’ya aittir.</p>

    <h3>SATICI’NIN BEYAN VE TAAHHÜTLERİ</h3>
    <p>Satıcı, Sözleşme konusu mal veya hizmetin tüketici mevzuatına uygun olarak, sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile Alıcı’ya teslim edilmesinden sorumludur.</p>
    <p>Satıcı, mücbir sebepler veya nakliyeyi engelleyen olağanüstü durumlar nedeni ile sözleşme konusu mal veya hizmeti süresi içinde teslim edemez ise, durumu öğrendiği tarihten itibaren 3 (üç) gün içinde Alıcı’ya bildirmekle yükümlüdür.</p>
    <p>Sözleşme konusu mal veya hizmet, Alıcı’dan başka bir kişiye teslim edilecek ise, teslim edilecek kişinin teslimatı kabul etmemesinden Satıcı sorumlu tutulamaz.</p>

    <h3>CAYMA HAKKI</h3>
    <p>Alıcı, hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin, mal satışına ilişkin işlemlerde teslimat tarihinden itibaren, hizmet satışına ilişkin işlemlerde satın alma tarihinden itibaren 14 (on dört) gün içerisinde cayma hakkını kullanabilir. Alıcı, malın teslimine kadar olan süre içinde de cayma hakkını kullanabilir.</p>
    <p>Alıcı, cayma hakkını medikaport.com’a giriş yaparak medikaport.com’da yer alan Hesabım&gt;Mevcut Sipariş&gt;Siparişlerim üzerinden "İade Et" bağlantısına tıklayarak kullanabilir. Alıcı’nın ilgili sayfada yer alan iade talep formunu doldurup satıcının iade adres bilgilerini alarak, cayma hakkını kullandığı tarihten itibaren 10 (on) gün içinde malı geri göndermesi gerekmektedir. Mal ile beraber
        faturasının, malın kutusunun, ambalajının, varsa standart aksesuarları, mal ile birlikte hediye edilen diğer ürünlerin de eksiksiz ve hasarsız olarak iade edilmesi gerekmektedir. Alıcı, cayma süresi içinde malı, işleyişine, teknik özelliklerine ve kullanım talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu değildir. Cayma
        hakkının kullanılmasına ilişkin detaylı bilgi medikaport.com’da yer alan https://www.medikaport.com/genel/urun-iadesi-2082300 sayfasında yer almaktadır.</p>
    <p>Alıcı iade edeceği malı Satıcı’ya Ön Bilgilendirme Formu’nda belirtilen Satıcı’nın anlaşmalı kargo şirketi ile gönderdiği sürece, iade kargo bedeli Satıcı’ya aittir. Alıcı’nın iade edeceği malı Ön Bilgilendirme Formu’nda belirtilen Satıcı’nın anlaşmalı kargo şirketi dışında bir kargo şirketi ile göndermesi halinde, iade kargo bedeli ve malın kargo sürecinde uğrayacağı
        hasardan Satıcı sorumlu değildir.</p>
    <p>Alıcı’nın cayma hakkını kullanmasından itibaren 14 (on dört) gün içerisinde (malın Satıcı’nın iade için belirttiği taşıyıcı aracılığıyla geri gönderilmesi kaydıyla), Alıcı’nın ilgili mal veya hizmete ilişkin Satıcı veya Aracı Hizmet Sağlayıcı’ya yaptığı tüm ödemeler Alıcı’ya satın alırken kullandığı ödeme aracına uygun bir şekilde ve tüketiciye herhangi bir masraf veya
        yükümlülük getirmeden ve tek seferde iade edilecektir. Kredi kullanılarak yapılan alışverişlerde, cayma hakkının usulüne uygun kullanıldığı durumlarda ürün bedeli kredi ile ilişkili hesaba iade edilecektir.</p>
    <p>BCT YAZILIM DANIŞMANLIK, İŞBU MESAFELİ SATIŞ SÖZLEŞMESİ’NİN TARAFI OLMADIĞINDAN ALICI’NIN, BCT YAZILIM DANIŞMANLIK’A KARŞI CAYMA HAKKI YOKTUR VE BCT YAZILIM DANIŞMANLIK’TAN BEDEL İADESİ VEYA ÜRÜN DEĞİŞİMİ TALEP EDEMEZ.</p>

    <h3>CAYMA HAKKININ KULLANILAMAYACAĞI HALLER</h3>
    <p>Mevzuat uyarınca Alıcı aşağıdaki hallerde cayma hakkını kullanamaz:</p>
    <p>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve Satıcı’nın kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmelerde (örn. ziynet, altın ve gümüş kategorisindeki ürünler);
        Alıcı’nın istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan, niteliği itibariyle geri gönderilmeye elverişli olmayan ve çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan malların teslimine ilişkin sözleşmelerde;
        Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmelerde;
        Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmelerde;
        Alıcı tarafından ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması şartıyla maddi ortamda sunulan kitap, ses veya görüntü kayıtlarına, yazılım programlarına ve bilgisayar sarf malzemelerine ilişkin sözleşmelerde;
        Abonelik sözleşmesi kapsamında sağlananlar dışında gazete, dergi gibi süreli yayınların teslimine ilişkin sözleşmelerde;
        Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmelerde;
        Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin sözleşmelerde;
        Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmelerde; ve
        Elektronik ortamda anında ifa edilen hizmetler ile tüketiciye anında teslim edilen gayri maddi mallara ilişkin sözleşmelerde (hediye kartı, hediye çeki, para yerine geçen kupon ve benzeri).</p>
    <p>Mesafeli Sözleşmeler Yönetmeliği’nin kapsamı dışında bırakılmış olan mal veya hizmetler (Satıcı’nın düzenli teslimatları ile Alıcı’nın meskenine teslim edilen gıda maddelerinin, içeceklerin ya da diğer günlük tüketim maddeleri ile seyahat, konaklama, lokantacılık, eğlence sektörü gibi alanlarda hizmetler) bakımından cayma hakkı kullanılamayacaktır.</p>
    <p>Tatil kategorisinde satışa sunulan bu tür mal ve hizmetlerin iptal ve iade şartları her Satıcı’nın uygulama ve kurallarına tabidir.</p>

    <h3>UYUŞMAZLIKLARIN ÇÖZÜMÜ</h3>
    <p>Kanun ve Mesafeli Sözleşmeler Yönetmeliği kapsamında satılan mal veya hizmete ilişkin sorumluluk bizzat Satıcı’ya aittir. Bununla birlikte Alıcılar, satın aldıkları mal ve hizmetlerle ilgili şikâyetlerini Satıcılar’a doğrudan veya BCT Yazılım Danışmanlık üzerinden iletecektir. Şikayetin BCT Yazılım Danışmanlık’a iletilmesi halinde BCT Yazılım Danışmanlık sorunun çözülmesi için mümkün olan tüm desteği
        sağlayacaktır.</p>
    <p>İş bu Mesafeli Satış Sözleşme ile ilgili çıkacak ihtilaflarda; her yıl Gümrük ve Ticaret Bakanlığı tarafından ilan edilen değere kadar Alıcı’nın yerleşim yerindeki ürünü satın aldığı veya ikametgâhının bulunduğu yerdeki İl veya İlçe Tüketici Sorunları Hakem Heyetleri, söz konusu değerin üzerindeki ihtilaflarda ise Tüketici Mahkemeleri yetkilidir.</p>

    <h3>MAL/HİZMETİN FİYATI</h3>
    <p>Malın peşin veya vadeli satış fiyatı, sipariş formunda yer almakla birlikte, sipariş sonu gönderilen bilgilendirme e-postası ve ürün ile birlikte müşteriye gönderilen fatura içeriğinde mevcut olan fiyattır. Satıcı veya BCT Yazılım Danışmanlık tarafından yapılan indirimler, kuponlar, kargo ücreti ve sair uygulamalar satış fiyatına yansıtılır.</p>

    <h3>TEMERRÜT HALİ VE HUKUKİ SONUÇLARI</h3>
    <p>Alıcı’nın, kredi kartı ile yapmış olduğu işlemlerde temerrüde düşmesi halinde kart sahibi bankanın kendisi ile yapmış olduğu kredi kartı sözleşmesi çerçevesinde faiz ödeyecek ve bankaya karşı sorumlu olacaktır. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini Alıcı’dan talep edebilir ve her koşulda Alıcı’nın borcundan dolayı
        temerrüde düşmesi halinde, Alıcı’nın borcu gecikmeli ifasından dolayı Satıcı’nın uğradığı zarar ve ziyandan Alıcı sorumlu olacaktır.</p>

    <h3>BİLDİRİMLER VE DELİL SÖZLEŞMESİ</h3>
    <p>İşbu Sözleşme tahtında taraflar arasında yapılacak her türlü yazışma, mevzuatta sayılan zorunlu haller dışında, Websitesi’nde yer alan Hesabım&gt;Ürün Sorularım veya elektronik posta aracılığıyla yapılacaktır. Alıcı, işbu Sözleşme’den doğabilecek ihtilaflarda Satıcı’nın ve BCT Yazılım Danışmanlık’ın resmi defter ve ticari kayıtlarıyla, kendi veritabanında, sunucularında tuttuğu elektronik
        bilgilerin ve bilgisayar kayıtlarının, bağlayıcı, kesin ve münhasır delil teşkil edeceğini, bu maddenin Hukuk Muhakemeleri Kanunu’nun 193. maddesi anlamında delil sözleşmesi niteliğinde olduğunu kabul, beyan ve taahhüt eder.</p>

    <h3>YÜRÜRLÜK</h3>
    <p>14 (on dört) maddeden ibaret bu Sözleşme, taraflarca okunarak, 11/09/2019 tarihinde, Alıcı tarafından elektronik ortamda onaylanmak suretiyle akdedilmiş ve yürürlüğe girmiştir.</p>
    <table style="width: 100%">
        <tbody>
        <tr>
            <td>SATICI</td>
            <td>ALICI</td>
        </tr>
        <tr>
            <td>{{context.seller.name}}</td>
            <td>{{context.buyer.name}}</td>
        </tr>
        </tbody>
    </table>