<div class="sozlesme">

    <h3>SATICI BİLGİLERİ</h3>
  
    <p>
        Satıcı İsim/Unvanı: {{context.seller.name}} <br />
        Satıcı’nın Açık Adresi: {{context.seller.address}} <br />
        Satıcı’nın Telefonu: {{context.seller.phone}} <br />
        Satıcı Mersis No: {{context.seller.tax_number}} <br />
        Satıcı E-Posta Adresi: {{context.seller.email}} <br />
        Alıcı’nın İade Halinde Malı Satıcı’ya GÖndereceği Kargo Şirketi:
    </p>
  
    <h3>ARACI HİZMET SAĞLAYICI "MEDİKAPORT.COM" BİLGİLERİ</h3>
  
    <p>
      Aracı Hizmet Sağlayıcı Unvanı: BCT YAZILIM DANIŞMANLIK  <br />
      Aracı Hizmet Sağlayıcı Mersis No: 17270631186 <br />
      Aracı Hizmet Sağlayıcı Adres: Cumhuriyet Mahallesi 30.Sokak NO:15/14 Erkmen / Afyonkarahisar <br />
      medikaport.com çağrı Merkezi: 0272 201 01 05 <br />
      <br />
      İşbu Ön Bilgilendirme Formu kapsamında Alıcı’ya siparişinin
      detayları hakkında bilgilendirme yapılmakta olup, Alıcı’nın mal veya hizmetin elektronik
      olarak satın alınmasına ilişkin olarak Mesafeli SÖzleşmeler YÖnetmeliği gereğince
      mesafeli satış sÖzleşmesini onaylaması gerekmektedir. Alıcı, Ön Bilgilendirme Formu
      ve Mesafeli Satış SÖzleşmesi’ne ilişkin bilgileri medikaport.com’da yer alan “Hesabım”
      sayfasından takip edebilecek ve siparişine ilişkin verdiği bilgileri “Hesabım” sayfasından
      değiştirebilecektir.Bununla beraber Alıcı’nın “Aynı Gün Teslimat” veya “Konuma
      Özel Teslimat” hizmetinden faydalanması halinde sipariş oluşturulduktan sonra, diğer
      teslimat yÖntemlerinde ise sipariş oluşturulduktan ve Satıcı tarafından onaylandıktan
      sonra teslimat aşamasına geçilmesi sebebiyle Alıcı siparişe ait teslimat adresini
      değiştiremez. Ön Bilgilendirme Formu ve Mesafeli Satış SÖzleşmesi Aracı Hizmet
      Sağlayıcı tarafından mevzuatta ÖngÖrülen süre boyunca kayıt altına
      alınmakta olup, Alıcı bu süre boyunca, dilediği zaman “Hesabım” sayfasından metinlere
      ulaşabilecektir.Ayrıca Alıcı siparişi onayladıktan sonra her bir siparişe Özel
      olarak düzenlenen Ön Bilgilendirme Formu ve Mesafeli Satış SÖzleşmesi, Alıcı’ya
      e-posta yoluyla gÖnderilmektedir. <br />
      <br />
      BCT Yazılım Danışmanlık tarafından Alıcı’nın taraf
      olduğu üyelik SÖzleşmesi’nde belirtilen gizlilik kuralları uygulanmaktadır. <br />
  
      <br />
  
    </p>
  
    <h3>SÖZLEŞME KONUSU MAL VE HİZMETİN TEMEL NİTELİKLERİ VE FİYATI (KDV DAHİL)</h3>
  
    <table width="100%" style="margin-bottom: 20px">
        <thead>
        <tr>
            <td class="borderLeftBold">Ürün Kodu Ve Adı</td>
            <td>Adet</td>
            <td>Satici Unvani</td>
            <td>Birim Fiyatı</td>
            <td>Toplam Satış Tutarı</td>
            <td class="borderRightBold">KDV Dahil Toplam Tutar</td>
        </tr>
        </thead>
        <tbody>
            {% for item in context.listings %}
        <tr>
            
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{context.seller.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.total}}</td>
            <td>{{item.total}}</td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
  
    <h3>ÖDEME VE TESLİM ŞARTLARI</h3>
  
    <p>
        Kargo hariç toplam ürün bedeli: {{context.total}} TL <br />
        Kargo ücreti: <br />
        Kargo Dahil Toplam Bedeli: {{context.total}} TL<br />
        Ödeme Şekli ve Planı: <br />
        Alınan Vade Farkı:  <br />
        Vade Farkı hesabında kullanılan faiz oranı: <br />
      Teslim Şartları ürün sayfasında belirtildiği
      şekilde uygulanacaktır. <br />
      <br />
      <b>Teslim Şartları: </b> <br />
      <br />
      {% for item in context.listings %}
        {{item.name}} in sevkiyatına Alıcı tarafından mal veya hizmetin sipariş edilmesini takiben 1 iş
      günü içinde başlanacaktır. <br />
      {% endfor %}
  
    <p style="text-decoration:underline;">SÖZ KONUSU üRüN BEDELİ, ÖDEME KORUMA
      SİSTEMİ KAPSAMINDA SATICI ADINA, BCT Yazılım Danışmanlık TARAFINDAN ALICI’DAN TAHSİL EDİLMEKTEDİR.
      ALICI MALIN/HİZMETİN BEDELİNİ BCT Yazılım Danışmanlık’E ÖDEMEKLE, üRüN BEDELİNİ
      SATICI’YA ÖDEMİŞ SAYILACAKTIR.</p>
    </p>
  
    <h3>CAYMA HAKKI</h3>
  
    <p>Alıcı, hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve
      hiçbir gerekçe gÖstermeksizin, mal satışına ilişkin işlemlerde teslimat
      tarihinden itibaren, hizmet satışına ilişkin işlemlerde satın alma tarihinden itibaren 14 (on
      dÖrt) gün içerisinde cayma hakkını kullanabilir. Alıcı, malın teslimine kadar
      olan süre içinde de cayma hakkını kullanabilir.</p>
  
    <p>Alıcı, cayma hakkını medikaport.com’da yer alan Hesabım>Mevcut
      Sipariş>Siparişlerim üzerinden "İade Et" bağlantısına tıklayarak
      kullanabilir. Alıcı’nın ilgili sayfada yer alan iade talep formunu doldurup satıcının iade
      adres bilgilerini alarak, cayma hakkını kullandığı tarihten itibaren 10 (on) gün
      içinde malı geri gÖndermesi gerekmektedir. Mal ile beraber faturasının, malın
      kutusunun, ambalajının, varsa standart aksesuarları, mal ile birlikte hediye edilen diğer
      ürünlerin de eksiksiz ve hasarsız olarak iade edilmesi gerekmektedir. Alıcı, cayma
      süresi içinde malı, işleyişine, teknik Özelliklerine ve kullanım
      talimatlarına uygun bir şekilde kullanmalıdır.</p>
  
    <p>Alıcı iade edeceği malı Satıcı’ya Ön Bilgilendirme Formu’nda
      belirtilen Satıcı’nın iade için ÖngÖrdüğü anlaşmalı kargo şirketi
      ile gÖnderdiği sürece, iade kargo bedeli Satıcı’ya aittir. Alıcı’nın iade edeceği
      malı Ön Bilgilendirme Formu’nda belirtilen Satıcı’nın anlaşmalı kargo şirketi dışında bir
      kargo şirketi ile gÖndermesi halinde, iade kargo bedeli ve malın kargo sürecinde
      uğrayacağı hasardan Satıcı sorumlu değildir.</p>
  
    <p>Alıcı’nın cayma hakkını kullanmasından itibaren 14 (on dÖrt)
      gün içerisinde (malın Satıcı’nın iade için belirttiği taşıyıcı aracılığıyla
      geri gÖnderilmesi kaydıyla), Alıcı’nın ilgili mal veya hizmete ilişkin Satıcı veya Aracı
      Hizmet Sağlayıcı’ya yaptığı tüm Ödemeler Alıcı’ya satın alırken kullandığı
      Ödeme aracına uygun bir şekilde ve tüketiciye herhangi bir masraf veya
      yükümlülük getirmeden ve tek seferde iade edilecektir. Kredi kullanılarak
      yapılan alışverişlerde, cayma hakkının usulüne uygun kullanıldığı durumlarda
      ürün bedeli kredi ile ilişkili hesaba iade edilecektir.</p>
  
    <p>Malın iade alınamaması için haklı sebeplerin varlığı halinde
      Satıcı, sÖzleşmedeki ifa süresi dolmadan Alıcı’ya eşit kalite ve fiyatta mal/hizmet
      tedarik edebilir. Satıcı mal/hizmetin ifasının imkansızlaştığını
      düşünüyorsa, bu durumu Öğrendiği tarihten itibaren 3 (üç)
      gün içinde Alıcı’ya bildirir. Bu durumda Satıcı, Ödenen bedeli ve varsa
      belgeleri 14 (ondÖrt) gün içinde Alıcı’ya iade eder. Alıcı iade edeceği
      mal/hizmeti Önbilgilendirme formunda belirtilen Satıcı’nın anlaşmalı kargo şirketi ile
      Satıcı’ya gÖnderdiği sürece, iade kargo bedeli Satıcı’ya aittir. Alıcı’nın iade
      edeceği malı Önbilgilendirme formunda belirtilen Satıcı’nın iade için
      ÖngÖrdüğü anlaşmalı kargo şirketi dışında bir kargo şirketi ile
      gÖndermesi halinde, iade kargo bedeli ve malın kargo sürecinde uğrayacağı hasardan
      Satıcı sorumlu değildir.</p>
  
    <h3>CAYMA HAKKININ KULLANILAMAYACAĞI HALLER</h3>
  
    <p>Mevzuat uyarınca Alıcı aşağıdaki hallerde cayma hakkını kullanamaz:</p>
  
    <ul>
      <li>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve Satıcı’nın
        kontrolünde olmayan mal veya hizmetlere ilişkin sÖzleşmelerde (Örn. ziynet,
        altın ve gümüş kategorisindeki ürünler);</li>
      <li>Alıcı’nın istekleri veya açıkça onun kişisel ihtiyaçları
        doğrultusunda hazırlanan, niteliği itibariyle geri gÖnderilmeye elverişli olmayan ve
        çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan
        malların teslimine ilişkin sÖzleşmelerde;</li>
      <li>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları
        açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların
        teslimine ilişkin sÖzleşmelerde;</li>
      <li>Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması
        mümkün olmayan mallara ilişkin sÖzleşmelerde;</li>
      <li>Alıcı tarafından ambalaj, bant, mühür, paket gibi koruyucu unsurları
        açılmış olması şartıyla maddi ortamda sunulan kitap, ses veya
        gÖrüntü kayıtlarına, yazılım programlarına ve bilgisayar sarf malzemelerine
        ilişkin sÖzleşmelerde;</li>
      <li>Abonelik sÖzleşmesi kapsamında sağlananlar dışında gazete, dergi gibi süreli
        yayınların teslimine ilişkin sÖzleşmelerde;</li>
      <li>Belirli bir tarihte veya dÖnemde yapılması gereken, konaklama, eşya taşıma, araba
        kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş
        zamanın değerlendirilmesine ilişkin sÖzleşmelerde;</li>
      <li>Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin sÖzleşmelerde;</li>
      <li>Cayma hakkı süresi sona ermeden Önce, tüketicinin onayı ile ifasına
        başlanan hizmetlere ilişkin sÖzleşmelerde; ve</li>
      <li>Elektronik ortamda anında ifa edilen hizmetler ile tüketiciye anında teslim edilen
        gayri maddi mallara ilişkin sÖzleşmelerde (hediye kartı, hediye çeki, para
        yerine geçen kupon ve benzeri).</li>
    </ul>
  
    <p>Mesafeli SÖzleşmeler YÖnetmeliği’nin kapsamı dışında bırakılmış olan mal veya
      hizmetler (Satıcı’nın düzenli teslimatları ile Alıcı’nın meskenine teslim edilen gıda
      maddelerinin, içeceklerin ya da diğer günlük tüketim maddeleri ile
      seyahat, konaklama, lokantacılık, eğlence sektÖrü gibi alanlarda hizmetler)
      bakımından cayma hakkı kullanılamayacaktır.</p>
  
    <p>Tatil kategorisinde satışa sunulan bu tür mal ve hizmetlerin iptal ve iade şartları
      her Satıcı’nın uygulama ve kurallarına tabidir.</p>
  
    <h3>UYUŞMAZLIKLARIN ÇÖZÜMÜ</h3>
  
    <p>6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli
      SÖzleşmeler YÖnetmeliği kapsamında satılan mal veya hizmete ilişkin sorumluluk
      bizzat Satıcı’ya aittir. Bununla birlikte Alıcılar, satın aldıkları mal ve hizmetlerle ilgili
      şikayetlerini Satıcılar’a doğrudan veya BCT Yazılım Danışmanlık üzerinden iletebilirler.
      Şikayetin BCT Yazılım Danışmanlık’e iletilmesi halinde BCT Yazılım Danışmanlık sorunun çÖzülmesi
      için mümkün olan tüm desteği sağlayacaktır.</p>
  
    <p>
      İş bu SÖzleşme ile
      ilgili çıkacak ihtilaflarda; her yıl Gümrük ve Ticaret Bakanlığı tarafından
      ilan edilen değere kadar Alıcı’nın yerleşim yerindeki ürünü satın aldığı veya
      ikametgahının bulunduğu yerdeki İl veya İlçe Tüketici Sorunları Hakem
      Heyetleri, sÖz konusu değerin üzerindeki ihtilaflarda ise Tüketici
      Mahkemeleri yetkilidir.
    </p>
  
  </div>